@import "../../node_modules/bootstrap/scss/bootstrap";

.first-test{
    margin: auto;
    width: 70%;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 10px rgba(43, 45, 48, 0.105);
    color: rgb(235, 214, 122);
    padding: 30px;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
}